<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Times Table.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9DC709C61BD9C7B5009812F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DC709DA1BD9C7B5009812F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DC709E51BD9C7B5009812F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
